<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text">Zrobił to Przemysław Kuc</p>
    <p class="navbar-text pull-right">O nas</p>
  </div>
</div>